{% extends "base.html" %} {% block content %}

<div class='container'>
    <div class="row">
        <h1>{{greeting}} {{user.first_name}} {{user.last_name}}</h1>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered sortable">
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Steps</th>
                <th>Description</th>
                <th>Yoga</th>
                <th>Running</th>
                <th>Strength Training</th>
                <th>Tai Chi</th>

            </thead>
            <tbody>
                {% for entry in entries%}
                <tr>
                    <td>{{entry.id}}</td>
                    <td>{{entry.show_pretty_date()}}</td>
                    <td>{{entry.steps}}</td>
                    <td>{{entry.description}}</td>

                    <td>
                        {% if entry.yoga %} <span> &#9989;</span> {% else%}
                        <span>&#10060</span> {% endif %}
                    </td>
                    <td>
                        {% if entry.running %} <span> &#9989;</span> {% else%}
                        <span>&#10060</span> {% endif %}
                    </td>
                    <td>
                        {% if entry.strength_training %} <span> &#9989;</span> {% else%}
                        <span>&#10060</span> {% endif %}
                    </td>
                    <td>
                        {% if entry.tai_chi %} <span> &#9989;</span> {% else%}
                        <span>&#10060</span> {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h2>{{steps_best_day}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>{{total_steps}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>{{steps_variance}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>{{steps_standard_deviation}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Summary</h2>
                        <ul>
                            <li>Minimum: {{steps_summary[0]}}</li>
                            <li>Lower Quartile: {{steps_summary[1]}}</li>
                            <li>Median: {{steps_summary[2]}}</li>
                            <li>Upper Quartile: {{steps_summary[3]}}</li>
                            <li>Maximum: {{steps_summary[4]}}</li>
                            <li>Interquartile Range: {{steps_summary[5]}}</li>
                            <li>Standardised Interquartile Range: {{steps_summary[6]}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>{{total_yoga}}</td>
                </tr>
                <tr>
                    <td>{{total_runs}}</td>
                </tr>
                <tr>
                    <td>{{total_strength}}</td>
                </tr>
                <tr>
                    <td>{{total_tai_chi}}</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
{% endblock %}